table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

thead {
    color :#dddddd;
    background-color: rgb(36, 42, 54);
}

td, th {
    border : 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

thead tr th:first-child,
tbody tr td:first-child {
    width: 20em;
    min-width: 20em;
    max-width: 20em;
}
